* {
	box-sizing: border-box;
}

html,
body,
#root,
.excalidraw-extension {
	height: 100%;
	width: 100%;
}

body {
	margin: 0;
	min-width: 320px;
	overflow: hidden;
}

.excalidraw-extension {
	position: relative;
}
